<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" charset="utf-8"></script>
        <script src="js/app.js" type="text/javascript"/> </script>
        <title></title>
    </head>
    <body ng-app="editor">
        <div ng-controller="editorController" class="jumbotron list-group">
            <input type="file" id="fileinput" onchange="angular.element(this).scope().loadJson(this)" />
            <!-- <button type="button" class="btn btn-primary" ng-click="loadJson();">Load Json</button> -->
            <button type="button" class="btn btn-primary" ng-click="saveJson();">Save Json</button></br>
            <button type="button" class="btn btn-primary" ng-click="newRoom();">New Room</button>
            <div ng-repeat="room in roomList" class="list-group-item">
                ID : {{ $index }}</br>
                Background: <input type="text" ng-model="room.background" placeholder="Background"></br>
                <select ng-model="eventType">
                    <option ng-repeat="eventOptions in events" value="{{eventOptions}}">{{eventOptions}}</option>
                </select>
                <button type="button" class="btn btn-primary" ng-click="newEvent(room, eventType);">New Event</button></br>
                Events:
                <div class="list-group">
                    <div ng-repeat="(eventName, event) in room.events" class="list-group-item">
                        {{ eventName }}</br>
                        Prerequisite: <input type="text" ng-model="event.prerequisite" placeholder="Prerequisite"></br>
                        Action:
                        <select ng-model="event.action" ng-options="action for action in actions" ></select>
                        <div ng-if="event.action == 'pickItem'">
                            Item: <input type="text" ng-model="event.item" placeholder="Item"></br>
                            <button type="button" class="btn btn-primary" ng-click="newSound(event.hasItem);">New Sound</button></br>
                            hasItem:</br>
                            <div class="list-group">
                                <div ng-repeat="sound in event.hasItem" class="list-group-item">
                                    Offset: <input type="number" ng-model="sound.offset"   placeholder="Offset" step="any"></br>
                                    Sound:  <input type="text"   ng-model="sound.sound"    placeholder="Sound"></br>
                                    Format: <input type="text"   ng-model="sound.format"   placeholder="format"></br>
                                    X:      <input type="number" ng-model="sound.x"        placeholder="X" step="any"></br>
                                    Y:      <input type="number" ng-model="sound.y"        placeholder="Y" step="any"></br>
                                </div>
                            </div>
                        </div>
                        <div ng-if="event.action == 'gotoRoom'">
                            Room: <input type="number" ng-model="event.room" placeholder="Room"></br>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="newSound(event.failPrerequisite);">New Sound</button></br>
                        failPrerequisite:</br>
                        <div class="list-group">
                            <div ng-repeat="sound in event.failPrerequisite" class="list-group-item">
                                Offset: <input type="number" ng-model="sound.offset"   placeholder="Offset" step="any"></br>
                                Sound:  <input type="text"   ng-model="sound.sound"    placeholder="Sound"></br>
                                Format: <input type="text"   ng-model="sound.format"   placeholder="format"></br>
                                X:      <input type="number" ng-model="sound.x"        placeholder="X" step="any"></br>
                                Y:      <input type="number" ng-model="sound.y"        placeholder="Y" step="any"></br>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </body>
</html>
