<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Madness's Daze Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MadnessDaze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Madness's Daze Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B92E34B91BC5986100ED27E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42953C81BAB2F5F00ABB43E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D471FDB81B6FD3B000D80921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D471FDD11B6FD3B000D80921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3E2B7C21BBB06A2002B587F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
