<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rooms</key>
	<array>
		<dict>
			<key>Events</key>
			<array>
				<dict>
					<key>trigger</key>
					<string>swipeLeft</string>
				</dict>
				<dict>
					<key>trigger</key>
					<string>swipeRight</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
